/*styling body of the website*/
body
{
	background-color: #4baea0;
	text-align: center;
}

h1
{
	font-family: 'Montserrat', sans-serif;
	color: yellow;
	padding-top: 2rem;
	font-weight: bold;
}

h2
{
	font-family: 'Montserrat', sans-serif;
	color: yellow;
	padding-top: 2.75rem;	
	padding-bottom: 2rem;
}

/*image of the dice*/

.dice-image1,.dice-image2{
	width: 40%;
	padding-top: 2rem;
}

/*result*/
.result{
	padding-bottom: 5rem;
}